.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
android/app/google-services.json
# Android release signing
android/key.properties
android/upload-keystore.jks
